h2 { text-align:right;
      margin-top: 5%;
      margin-right: 5%;
      font-size: 250%;
      border-bottom: 2px solid #000; }


.portrait {  margin-left: 12%;
              display: inline-block;
              float: left;
              background-image: url("../images/OldPortrait.jpg");
              background-repeat: no-repeat;
              background-size: cover;
              border-radius: 50%;
              height: 350px;
              width: 350px; }

#panel, #flip { padding: 5px;
                text-align: center; }

#panel { display: inline-block;
        width: 40%;
        border: 1px solid #000;
        text-align: center;
        margin-right: 5%;
        padding: 20px;
        border: solid 1px #707070;
        box-shadow: 0 0 5px 1px #969696;
        float: right; }
