h2 { font-size: 4rem;
      text-align: left;
      margin-left: 10%; }

.icons { list-style-type: none;
          margin-top: 1.5em;
          text-align: left;
          margin-left: 10%; }

.icons a {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 10px;
	vertical-align: middle; }

.icons a.twitter { background: url(../images/twitter.png) left top no-repeat; }
.icons a.linkedin { background: url(../images/linkedin.png) left top no-repeat; }
.icons a.facebook { background: url(../images/facebook.png) left top no-repeat; }
.icons a.github { background: url(../images/github.png) left top no-repeat; }
.icons a:hover { background-position: left -34px; }

.email {  box-shadow: inset 0px 1px 3px 0px;
          background: #f5f5f5;
          border-bottom: #dddddd solid 1px; }

input[type=text] {  padding: 6px;
                    border: 1px solid #000;
                    box-sizing: border-box; }
