nav {
position: relative;
text-align: right;
display: inline;
}

nav ul {
margin: 0;
padding: 0;
}

nav li {
list-style: none;
font-size: 20px;
float: right;
text-align: center;
background-color: #43464B;
}

/**top level menu**/
nav li a {
display: inline-block;
text-decoration: none;
margin-right: 12px;
width: 7em;
padding: 3px;
font-weight: bold;
line-height: 1.50em;
color: #fff;
}


/**top menu style on mouse over**/
nav li:hover > a{
color: #00f;
background: #43464B;
}

/**sub-menu**/
nav li ul {
display: none;
text-align: center;
margin: 0;
padding: 0;
background-color: #43464B;
}

nav li:hover ul, nav li.hover ul {
display: block;
position: absolute;
padding: 0;
}

nav li:hover li, nav li.hover li { float: none; }

/**drop-menu style**/
nav li:hover li a, nav li.hover li a {
width: 7em;
margin-top: 0;
}

/**drop-menu style on mouse over**/
nav li li a:hover {
color: #00f;
}

#banner { background-color: #43464B;
          padding: 16px; }

h1 { display: inline;
      margin-top: 0;
      font-size: 400%;
      color: #000;
      margin-left: 5%;
      text-shadow:
      1px 1px 0 #CCC,
      2px 2px 0 #CCC,
      3px 3px 0 #444,
      4px 4px 0 #444,
      5px 5px 0 #444,
      6px 6px 0 #444; }
body {  margin: 0;
        padding: 0;
        text-align: center; }

/**social media spirtes 1**/
ul.socialicons {  list-style: none;
        	         overflow: auto; }

ul.socialicons li { width: 32px;
        	           height: 33px;
        	           padding: 0 5px 0 0; }

ul.socialicons li a { width: 32px;
        	             height: 33px;
        	             display: block; }

ul.socialicons li a.facebook 		{ background: url(../images/socialSprite.png) no-repeat; background-position: 0 -73px; }
ul.socialicons li a.facebook:hover 	{ background: url(../images/socialSprite.png) no-repeat; background-position: -38px -73px; }
ul.socialicons li a.twitter 		{ background: url(../images/socialSprite.png) no-repeat; background-position: 0 -109px; }
ul.socialicons li a.twitter:hover 	{ background: url(../images/socialSprite.png) no-repeat; background-position: -38px -109px; }

/** Footer **/
footer {  background: #f5f5f5;
          height: 55px;
          color: #666666;
          font-size: 16px;
          font-family: "proxima nova", "Helvetica Neue", Helvetica, Arial, Sans-serif;
          text-align: center;
          box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
          position: fixed;
          bottom: 0;
          right: 0;
          left: 0; }

footer ul, footer li { list-style: none;
                display: inline-block;
                margin-right: 50px;
                margin-left: 50px; }
h1,h2,th { font-family: Georgia, Times, serif; }
p,li,td {font-family: Arial, Verdana, sans-serif;}
html { background: #fafafa; }
