/* resume.css */
body { background-color: #c8c8c8; }

h1 { text-align: center;
      line-height: 100%;
      color: #404040;
      font-weight: bold; }
h2 { text-align: center;
      border-bottom: 1px solid black }
nav { text-align: center; }

#wrapper { margin-left: auto;
	         margin-right: auto;
	         width: 80%; }
.rightalign { float: right; }

h3 { width: 25%;
      height: 60px;
      margin: 0;
      padding: 0;
      display: inline; }

ul li { font-family: Arial, Verdana, sans-serif; }

a:link { color: red; }
